body, html{
  height:100%;
}

body{
  margin: 0px;
  font-size: .8rem;
  font-family: georgia, cursive;

}

a:link, a:visited, a:active{
  color: white;
  padding: .6em;
  margin: .1em;
  background-color: blue;
  border-radius: .3em;
  box-shadow: .2em .2em rgba(95, 158, 160, 0.281);

}
a:hover{
  background-color: rgb(0, 119, 255);
}

body{
  color: white;
}
.topbar>*{
  float:right;
  text-decoration-style:none;
  margin: .5em;
}
.topbar{
  height:10vh;
  background-color: rgba(0, 0,0, 0.8);
  padding: .3em;
}
.title{
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}
.animal{
  background-color:red;
  width:80px;
  height: 80px;
  position:absolute;
  font-size: .5em;
}

.animal > span{
display: inline-block;
width: 100%;
}

.animal::before {
  content: attr(data-before);
  color: red;
}

#content{
  height: 90vh;
  position: relative;
}

.animal>img{
  width: 60%;
}

.attribution{
  color: black;
}

input{
  width: 4em;
}